.error {
    height: 20px;
    background-color: red;
    opacity: 0.7;
}

.userName {
    height: 30px;
    width: 97.7%;
    text-align: left;
}

.chat {
    height: 700px;
    border: thin solid black;
    margin: auto 30%;
}

.messages {
    height: 90%;
    overflow: auto;
}

.Message {
    height:15% ;
    border-bottom: thin solid black;
}

.RightCals {
    width: 10%;
    float: left;
text-align: right;
}
.RightCals button {
   background-color: white;
    width: auto;
    height: auto;
    border: none;
}

.CenterCals {
    width: 75%;
    float: left;
    text-align: left;
}

.LeftCals {
    width: 15%;
    float: left;
}
.EntryField {
    width: 98.9%;
    height: 9.23%;
    resize:none;
}
.SendButton button{
    box-shadow: none;
    text-align: center;
    font-size: 30px;
    background-color: White;
    color: black;
}
.AllUsers{
    float: left;
    height: 700px;
    border: thin solid black;
    width: 200px;
}
.User{

}
@media (max-width: 720px) {
    .chat {
        margin: auto 10%;
    }


}
